@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Shrikhand&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Varela+Round&display=swap'); 
/*.poppins{
    font-family:"Poppins", sans-serif;
}
.varela{
    font-family:"Varela Round", sans-serif;
}*/

  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  span,
  div,
  select,
  input,
  button {
    font-family: "Pretendard", sans-serif;
    font-weight: 800px;
  }

  h4.cityname {
   

    text-decoration: none;
    font-family:'Shrikhand', cursive;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color :rgba(76, 73, 237, 1);
  }

  h4.profile-name {
    font-family: "Pretendard", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
  }
  a.nav-logo {
    text-decoration: none;
    font-family:"Pretendard", sans-serif;
    font-size: 26px;
    font-style: bold;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color :rgba(76, 73, 237, 1);
  }
  a.primary-link {
    text-decoration: none;
    font-family:"Pretendard", sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color :black;
}
 