div.container {
    width: 100%;
    display: block;
    height: 123px;
    top: -1.375px;
    border-radius: 0px;
    gap: 591px;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

div.g-2.row {

    justify-content: space-around;

}

div.city-layout {
    width: 250px;
    height: 42px;
    top: 23.375px;
    left: 47px;
    margin-top: 31px;

}

div.profile-layout {
    width: Fixed (234px);
    height: Fixed (50px);
    display: inline-block;
    top: 14.375px;
    left: 1656px;
    gap: 20px;
}

div.col-lg-8 {
    flex: 0 0 auto;
}

div.justify-content-center {
    justify-content: space-between;
    /*background-color: rgba(255, 255, 255, 1);*/
}

div.division-line {
    display: block;
    top: 88px;
    left: 1.875px;
    border: 1px solid rgba(237, 237, 237, 1);
}

div.button-group {
    display: flex;
    font-size: 20px;
}

div.button-group button {
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(217, 217, 217, 1);
    padding: 10px;
}

div.button-group button:hover {
    color: black;
    border-bottom: 2px solid rgba(66, 62, 224, 1);
}

button#category-button {
    font-weight: 600;
    flex-grow: 1;
    width: 33.33%;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-right: rgba(255, 255, 255, 1);
    border-top: rgba(255, 255, 255, 1);
    border-left: rgba(255, 255, 255, 1);
}


.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar-md {
    height: 5rem;
    width: 5rem;
}

.fs-19 {
    font-size: 19px;
    font-weight: 500px;
}

.primary-link {
    color: #314047;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

a {
    color: #02af74;
    text-decoration: none;
}

.bookmark-post .favorite-icon a,
.job-box.bookmark-post .favorite-icon a {
    background-color: #da3746;
    color: #fff;
    border-color: danger;
}

.favorite-icon a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #eff0f2;
    border-radius: 6px;
    color: rgba(228, 227, 255, 1);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


li.list-inline-item {
    color: rgba(155, 155, 155, 1);
    font-size: 15px;
}

div.candidate-list {
    display: flex;
}

div.container.bootstrap.snippets.bootdey {
    background-color: rgba(244, 243, 250, 1);

}

div.candidate-list-group {
    margin-top: 40px;
    width: 100%;
    flex-wrap: wrap;
}

div.col-lg-4,
.col-lg-8 {
    display: flex;
    flex-direction: column;
}

div.col-lg-4 {
    order: 1;
    flex: 0 0 auto;
    width: 20%;
    margin-top: 5px;
}

div.col-lg-8 {
    order: 2;
}

a.list-group-item {
    font-weight: 600;
    font-size: 25px;
    padding: 15px;
    --bs-link-hover-color: rgba(76, 73, 237, 1);
    color: rgba(161, 160, 189, 1);
}

a.list-group-item:hover {
    background-color: rgba(228, 227, 255, 1);
    color: rgba(76, 73, 237, 1)
}

.candidate-list-box .favorite-icon {
    position: absolute;
    right: 22px;
    top: 22px;
}

.fs-14 {
    font-size: 14px;
}

.bg-soft-secondary {
    background-color: rgba(228, 227, 255, 1) !important;
    color: #74788d !important;


}

.mt-1 {
    margin-top: 0.25rem !important;
}

div.col-sm-3 {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 10px;
    padding-inline: 50px;
}

div.nav-logo-layout {
    padding: 25px;
    border-radius: 9px;
}


nav.list-group {
    --bs-list-group-color: rgba(76, 73, 237, 1);
    --bs-list-group-bg: rgba(244, 243, 250, 1);
    --bs-list-group-border-color: rgba(244, 243, 250, 1);
    --bs-list-group-border-width: 1px;
    --bs-list-group-border-radius: 0.375rem;
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.5rem;
    --bs-list-group-action-color: #495057;
    --bs-list-group-action-hover-color: #495057;
    --bs-list-group-action-hover-bg: #f8f9fa;
    --bs-list-group-action-active-color: #212529;
    --bs-list-group-action-active-bg: #e9ecef;
    --bs-list-group-disabled-color: #6c757d;
    --bs-list-group-disabled-bg: #fff;
    --bs-list-group-active-color: #fff;
    --bs-list-group-active-bg: #0d6efd;
    --bs-list-group-active-border-color: #0d6efd;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    border-radius: var(--bs-list-group-border-radius);
}

/* candidate-list-box 내부 글씨 굵기 및 박스 크기 */
@media (min-width: 992px) {
    .col-lg-8 {
        font-weight: 600;
        width: 66% !important;
    }
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.img-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

